In [1]:
import os
import pandas as pd

# base path of your project
BASE_DIR = "/workspaces/Transformers/SpamClassificationUsingBert"

# dataset path
DATA_PATH = os.path.join(BASE_DIR, "Data", "spam.csv")

print(f" Data path: {DATA_PATH}")

 Data path: /workspaces/Transformers/SpamClassificationUsingBert/Data/spam.csv

In [2]:
df = pd.read_csv(DATA_PATH, encoding="latin-1")
df.head(3)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [ ]:
# read the CSV file (latin-1 avoids Unicode errors in UCI spam dataset)
df = pd.read_csv(DATA_PATH, encoding="latin-1")

if "v1" in df.columns and "v2" in df.columns:
    df = df.rename(columns={"v1": "label", "v2": "text"})
    df = df[["label", "text"]]

# drop NaN if any
df = df.dropna().reset_index(drop=True)

print("Data loaded successfully!")
print(f"Total rows: {len(df)}")
print(f"Unique labels: {df['label'].unique()}")

✅ Data loaded successfully!
Total rows: 5572
Unique labels: ['ham' 'spam']

In [4]:
# Convert 'ham' → 0 and 'spam' → 1
df['label_encoded'] = df['label'].map({'ham': 0, 'spam': 1})

# Verify results
print(df[['label', 'label_encoded']].head())

  label  label_encoded
0   ham              0
1   ham              0
2  spam              1
3   ham              0
4   ham              0

In [5]:
df.head()

  label                                               text  label_encoded
0   ham  Go until jurong point, crazy.. Available only ...              0
1   ham                      Ok lar... Joking wif u oni...              0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...              1
3   ham  U dun say so early hor... U c already then say...              0
4   ham  Nah I don't think he goes to usf, he lives aro...              0

In [6]:
df = df.drop('label', axis = 'columns')
df.head()

                                                text  label_encoded
0  Go until jurong point, crazy.. Available only ...              0
1                      Ok lar... Joking wif u oni...              0
2  Free entry in 2 a wkly comp to win FA Cup fina...              1
3  U dun say so early hor... U c already then say...              0
4  Nah I don't think he goes to usf, he lives aro...              0

In [7]:
df = df.rename(columns={'label_encoded': 'label'})
df.head()

                                                text  label
0  Go until jurong point, crazy.. Available only ...      0
1                      Ok lar... Joking wif u oni...      0
2  Free entry in 2 a wkly comp to win FA Cup fina...      1
3  U dun say so early hor... U c already then say...      0
4  Nah I don't think he goes to usf, he lives aro...      0